@import "../../../../styles/variables";

.english-puzzle__prompt-bar{
  width: 100%;
  min-height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 5px 0;
  color: #fff;
}

.prompt-bar__speaker-icon{
  width: 30px;
  height: 30px;
  margin: 8px;
  cursor: pointer;
  fill: $speaker-nonactive;
  transition: fill 0.3s;
  &:hover{
    fill: $speaker-active;
  }

  &.prompt-bar__speaker-icon_active{
    fill: $speaker-active;
    animation: scaleUp 0.5s ease-in-out infinite alternate;
  }
}
.prompt-bar__text-content{
  display: inline-block;
  position: relative;
  margin: 5px 0;
  font-family: "Roboto-Light";
  font-size: 20px;
  z-index: 0;
  &::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    background-color: #095740;
    filter: blur(23px);
    z-index: -1;
    opacity: 0.5;
  }
}

.prompt-bar__hide{
  display: none;
}