@font-face {
  font-family: "Roboto-Bold";
  font-display: block;
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype"),
  local("Arial");
}
@font-face {
  font-family: "Roboto-Regular";
  font-display: block;
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype"),
  local("Arial");
}
@font-face {
  font-family: "Roboto-Light";
  font-display: block;
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype"),
  local("Arial");
}
@font-face {
  font-family: "Pacifico";
  font-display: block;
  src: url("../assets/fonts/Pacifico-Regular.ttf") format("truetype"),
  local("Times New Roman");
}
@font-face {
  font-family: "OpenSans-Light";
  font-display: block;
  src: url("../assets/fonts/OpenSans-Light.ttf") format("truetype"),
  local("Times New Roman");
}