$color_success: #6f9987;

// Colors
$prime: #00c49d;
$prime-dark: #135e6e;
$prime-light: #6cffde;
$prime-hover: #00856a;
$light: #ffffff;
$dark: #0e1e25;

// Border, shadow
$border-radius: 5px;
$border: 1px solid $prime;
$box-shadow: 5px 5px 25px rgba(118, 118, 118, 0.25);
$box-shadow-hover: 5px 5px 5px 0 #e3e3e3;

// Transition
$def-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
$long-transition: 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);