@import "reset";
@import "variables";
@import "settings";
@import "animate";
@import "modal";
@import "fonts";

.wr-header {
  position: relative;

  height: 40px;
  padding: 10px 0;

  background-color: #0DA8C9;
  .container {
    text-align: center;
  }
  h2 {
    display: inline-block;
    margin: 10px auto 0;

    font-size: 23px;
    font-family: "Roboto-Bold";
    text-transform: uppercase;

    cursor: pointer;
  }
}

.wr-main {
  //height: 100vh;
  position: relative;
  display: grid;
  grid-template-areas: "app-panel-header app-header"
  "app-panel        app-main"
  "app-panel        app-footer";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

.app-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 60px);

  background-color: #0DA8C9;

  grid-area: app-panel;
  .menuItem {
    width: 150px;
  }
}

.app-header {
  height: 60px;
  grid-area: app-header;
}

.app-main {
  background-color: #0DA8C9;;

  grid-area: app-main;
  .menuItem {
    width: 150px;
  }
  .game-section{
    background-color: #0DA8C9 !important;
    padding: 0px;
  }
}

.app-menu-header {
  background-color: #0DA8C9;

  grid-area: app-panel-header;
}

.root-content {
  width: 100%;

  background-color: #b293fc;
}

.show {
  display: block;
}

footer {
  position: relative;

  height: 40px;
  padding: 15px 0;

  background-color: #ef6eb0;
  .container {
    text-align: center;
  }
}
