@import "reset";
@import "variables";
@import "settings";
@import "animate";
@import "modal";

//@import "./fonts.scss";

.wr-header {
  position: relative;

  height: 40px;
  padding: 10px 0;

  background-color: #158fef;
  .container {
    text-align: center;
  }
  h2 {
    display: inline-block;
    margin: 10px auto 0;

    font-size: 23px;
    font-family: "Roboto-Bold";
    text-transform: uppercase;

    cursor: pointer;
  }
}

.wr-main {
  position: relative;

  display: grid;

  grid-template-areas: "app-panel-header app-header"
  "app-panel        app-main"
  "app-panel        app-footer";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  .container {
    display: flex;
  }
}

.app-panel {
  height: calc(100vh - 60px);

  background-color: #b3d4fc;

  grid-area: app-panel;
  .menuItem {
    width: 150px;
  }
}

.app-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  padding: 15px;

  text-align: center;

  background-color: #fccd86;

  grid-area: app-header;
}

.app-main {
  background-color: #6593fc;

  grid-area: app-main;
  .menuItem {
    width: 150px;
  }
}

.app-menu-header {
  background-color: #91fc65;

  grid-area: app-panel-header;
}

.root-content {
  width: 100%;

  background-color: #b293fc;
}

.show {
  display: block;
}

footer {
  position: relative;

  height: 40px;
  padding: 15px 0;

  background-color: #ef6eb0;
  .container {
    text-align: center;
  }
}
