.speak-it.game-section {
  background-color: #9effd0;
  text-align: center;
}
.speak-it__container {
  width: 100%;
  margin: 20px;
  text-align: center;
}
.speak-it__header{
  margin-top: 20px;
  color: #caffdf;
}