.progress {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 40px;

  color: $warning;

  &--hidden {
    display: none;
  }
}

.progress__bar {
  height: 100%;

  background-color: $warning;
  border-radius: 5px;

  transition: $def-transition;
}

.progress__background {
  width: calc(100% - 20px);
  max-width: 550px;
  height: 10px;

  background-color: $success;
  border-radius: 5px;
}

.progress__numb {
  padding: 0 10px;

  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
