<div class="english-puzzle__status-bar english-puzzle__component">
  <div class="status-bar__levels">
    <div class="status-bar__select">
      <span>Level</span>
      <select name="" id="english-puzzle-levels">
        <!--{{levels}}-->
        <option>Level 1</option>
        <option>Пункт 2</option>
      </select>
    </div>
    <div class="status-bar__select">
      <span>Page</span>
      <select name="" id="english-puzzle-pages">
        <!--{{pages}}-->
        <option>Пункт 1</option>
        <option>Пункт 2</option>
      </select>
    </div>
  </div>
  <div class="status-bar__buttons">
    <div class="status-bar__button status-bar__button_active" data-type="autoPronunciation"></div>
    <div class="status-bar__button status-bar__button_active" data-type="translate"></div>
    <div class="status-bar__button status-bar__button_active" data-type="pronunciation"></div>
    <div class="status-bar__button" data-type="picture"></div>
  </div>
</div>
