.english-puzzle__status-bar{
  background-color: aqua;
  width: 100%;
  height: 8%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.status-bar__levels{
  height: 100%;
  display: flex;
}
.status-bar__select{
  margin: auto 5px;
  select {
    background-color: #fff;
  }
}
.status-bar__buttons{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}