<div class="english-puzzle__game-field english-puzzle__component">
  <ul class="game-field__numbers">
    <li class="numbers__item"></li>
    <li class="numbers__item"></li>
    <li class="numbers__item"></li>
    <li class="numbers__item"></li>
    <li class="numbers__item"></li>
    <li class="numbers__item"></li>
    <li class="numbers__item"></li>
    <li class="numbers__item"></li>
    <li class="numbers__item"></li>
    <li class="numbers__item"></li>
  </ul>
  <ul class="game-field__puzzle">
    <li class="puzzle__row"></li>
    <li class="puzzle__row"></li>
    <li class="puzzle__row"></li>
    <li class="puzzle__row"></li>
    <li class="puzzle__row"></li>
    <li class="puzzle__row"></li>
    <li class="puzzle__row"></li>
    <li class="puzzle__row"></li>
    <li class="puzzle__row"></li>
    <li class="puzzle__row"></li>
  </ul>
</div>