.english-puzzle__game-field{
  display: flex;

  background-color: #8187ff;
  width: 100%;
  height: 60%;
}
.game-field__numbers{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 5px;
  counter-reset: row;

  li {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #adb2ad;

    &::before {
      counter-increment: row;
      content: counter(row);
    }
  }
}

.game-field__puzzle{
  width: 100%;
  //background-size: 100% 100%;
  //background-repeat: no-repeat;
  .puzzle__row{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 10%;
    //background-color: #6593fc;
    border: 1px solid #adb2ad;
    box-sizing: border-box;

    .puzzle-piece{
      flex-grow: 1;
      height: 100%;
      width: 120px;
      background-color: #b3d4fc;
      //clip-path: url('../../assets/img/clip-path.svg#puzzle-piece');
      clip-path: url(#puzzle-piece);
    }

  }
  .puzzle__piece{
    //height: 100%;
    cursor: pointer;
    position: relative;
    margin: 0;

  }
}


.canvas-item:not(:first-child) {
  margin-left: -8px;
}

.canvas-item {
  height: 48px;
  cursor: pointer;
}

//.group-words {
//  display: flex;
//}

