.english-puzzle__pieces-bar {
  width: 100%;
  //height: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fffef6;
  box-shadow: 0 0 10px 9px rgba(0,0,0,0.3);
  border-radius: 3px;
}

.puzzle__piece {
  margin: 5px;
}