.english-puzzle__pieces-bar {
  width: 100%;
  min-height: 62px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fffef6;
  box-shadow: 0 0 10px 9px rgba(0,0,0,0.3);
  border-radius: 3px;
}

.puzzle__piece {
  margin: 5px;
  cursor: pointer;
}

.pieces-bar__text{
  font-family: Arial;
  font-size: 25px;
  color: #000000;
}