@import "../../styles/variables";
@import "styles/main.css";

.english-puzzle.game-section {
  background-color: $color_success;
  text-align: center;
}

.english-puzzle__header{
  margin: 15px auto;
}

.english-puzzle__test-field{
  width: 200px;
  min-height: 200px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #44a495;
  color: #f7fcfc;
  cursor: pointer;
}
.english-puzzle__words{
  font-size: 30px;
}