@import "../../../../styles/variables";

.english-puzzle__start-window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../assets/img/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  z-index: 10;
  transition: opacity 0.3s ease-in;
  text-align: center;
  h2 {
    font-size: 40px;
    margin: -100px auto 40px;
    color: #acffde;
    opacity: .8;
    text-transform: uppercase;
    letter-spacing: 13px;
    font-weight: 300;
    font-family: "Lato-Black";
  }
  p {
    max-width: 600px;
    margin: 0 auto 60px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 300;
    color: #d2fff5;
    opacity: .8;
  }
  button {
    display: inline-block;
    margin: 0 auto;
    appearance: none;
    font-size: 24px;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    min-width: 200px;
    color: #fff;
    background: #089c7f;
    border-radius: 4px;
    visibility: visible;
    transition: .15s;
    font-family: "OpenSans-Light";
    &:hover{
      color: #fff;
      box-shadow: 0 0 3px 3px rgba(131, 255, 234, 0.4);
    }
  }
  .doesnt-work {
    position: relative;
    font-family: "Roboto-Regular";
    margin: 40px;
    opacity: 1;
    color: #ff1930;
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 120%;
      height: 150%;
      background-color: #c6000e;
      filter: blur(23px);
      z-index: -1;
      opacity: 0.5;
    }
  }
}
.english-puzzle__start-window_hide{
  display: none;
}